@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.scrollbar-width-none {
  scrollbar-width: none;
}

.scrollbar-width-none::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins";
  font-display: swap;
  color: #000929;
  background-color: #f7f7fd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-carousel .swiper-wrapper {
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
}

.logo-carousel .swiper-slide {
  width: auto !important;
}

.logo-carousel img {
  width: 100px;
}

/* @media (max-width: 767px) {
  .logo-carousel img {
    width: 20px;
  }
} */
